# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ultralytics YOLO files
runs/
results/
*.pt
*.onnx
logs/


# Datasets
datasets/
!datasets/emotion/dataset.yaml  # Keep config if needed
Dataset/

# KaggleHub temp files
*.kagglehub/
.kaggle/

# System files
.DS_Store
Thumbs.db

# VS Code config
.vscode/
.venv
Dataset 
*.zip